.list-menu {
    width: 224px;
}

.menu-popper {
    padding-bottom: 8px;
}

.menu-item {
    margin-left: 0;
    font-weight: 700;
    height: 42px;
    padding: 10px 8px 10px 16px;
    width: 100%;
    background-color: transparent;
    display: flex;
    cursor: pointer;
    line-height: 1.8rem;

    &.seperate {
        border-top: 1px solid rgba(22, 24, 35, 0.12);
    }

    &:hover {
        background: rgba(22, 24, 35, 0.06);
    }


}




//header-menu
.menu-header {
    position: relative;
    height: 50px;
}

.btn-back {
    width: 50px;
    background-color: transparent;
    height: 100%;
    cursor: pointer;
}

.title-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}