@import 'normalize.css';

:root {
    --black: #000;
    --text-color: #333;
    --primmary: rgba(254, 44, 85, 1);
    --while: #fff;
    //Default Layout
    --defaultLayout-header-height: 60px;
    --defaultLayout-width: 1150px;
}

html {
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'ProximaNova', 'SofiaPro';
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

//font - face
@font-face {
    font-family: ProximaNova;
    src: url('/asset/font/Proxima-Nova-Bold.woff2');
    font-weight: 700;
}

@font-face {
    font-family: ProximaNova;
    src: url('/asset/font/ProximaNova-Semibold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: ProximaNova;
    src: url('/asset/font/Proxima-Nova-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: SofiaPro;
    src: url('/asset/font/sofiapro-bold.woff2');
    font-weight: 700;
}



button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}

//tippy

body {
    .tippy-box {
        background-color: rgba(84, 84, 84, 0.92);
        border-radius: 8px;
        font-weight: 600;
        font-size: 1.6rem;
    }

    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);

    }

    .tippy-content {
        padding: 8px 9px;
    }
}